<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container class="pa5" wrap>
          <v-layout>
            <div class="loading-overlay" v-if="loading">
              <v-progress-circular class="loader" size="100" :width="10" indeterminate color="primary"></v-progress-circular>
            </div>
            <v-flex xs6>
              <v-layout column>
                <h1>Current Scraped URLS</h1>
                <a href="/" class="pa-3">To Query Page</a>
                <v-btn @click="urlClicked(url)" :class="{redText: url.public_sales}" v-for="url in urls" :key="url.id" class="ma-0 pa-0">{{url.url}}</v-btn>
              </v-layout>
            </v-flex>
            <v-flex xs5 offset-xs1>
              <v-text-field v-model="newURL" placeholder="Enter new url (include https:// before it)"></v-text-field>
              <v-btn color="info" :disabled="newURL !== '' ? false : true" @click="addURL">Add URL</v-btn>
              <v-spacer/>
              <p>Selected URL:</p>
              <p v-if="activeURL">{{activeURL.url}}</p>
              <v-btn color="error" v-if="activeURL" @click="removeURL">Remove URL</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      mounted() {
        axios.get('/api/urls').then((data) => {
          console.log(data.data);
          this.urls = data.data
        }).catch((error) => {
          console.error(error);
        })
      },
      data() {
        return {
          urls: [],
          newURL: '',
          activeURL: null,
          loading: false,
        }
      },
      methods: {
        urlClicked(url) {
          this.activeURL = url;
        },
        addURL() {
          this.loading = true;
          axios.post('/api/urls', { url: this.newURL }).then((data) => {
            this.urls.push(data.data);
            this.loading = false;
          }).catch((error) => {
            console.error(error);
          })
        },
        removeURL() {
          axios.delete(`/api/urls/${this.activeURL.id}`).then((data) => {
            this.urls = this.urls.filter(u => u.id !== this.activeURL.id);
            this.activeURL = null;
          }).catch((error) => {
            console.error(error);
          })
        }
      }
    })
  </script>
  <style>
    .loading-overlay {
      position: fixed;
      display: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 10000;

    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .redText {
      color: #f44336 !important;
    }
  </style>
</body>

</html>